
body{
    background-color: #f0ead2;
}

#bienvenida{
    color: aliceblue;
    font-size: x-large;
    
}
#bodyList{
    font-family: cursive;
    margin: 10px;

}
.seccion {
    background-color: #dde5b6;
    height: 250px;
    width: 825px;
    
}
#imagenDerecha {
    height: 250px;
    width: 300px;
    float: right;
}
#imagenIzquierda{
    height: 250px;
    width: 350px;
    float: left;
}
.textosDescriptivos{
    padding-top: 8px;
    margin-left: 16px;
    margin-right: 50px;
    margin-top: 15px;
    color: #a98467;
    font-size: x-large;
}
.palabrasS{
    color: #dbe1bc;
    
}
.titulosI{
    padding-top: 12px;
    color: #dbe1bc;
}
.titulos{
    padding-top: 12px;
    color: #5e503f;
}
#fondoLista{
    height: 720px;
    width: 500px;
    background-color: #5e503f;
    margin: 0 auto;
}

#fondo{
    height: 720px;
    width: 500px;
    background-color: #5e503f;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

iframe{
        width: 370px;
        height: 270px;

           float: right;
}
.rrss{
    height: 50px;
}
.bq{
    background-color: #dbe1bc;
    width: 73%;
    height: 35px;
    font-style:oblique;
    font-size: large;
    margin: 0 auto;
}

ul li{
            list-style-type: circle;    
            
        }   

#textoLista{
    padding: 15px;
}
ol li{
        list-style-type: decimal;
    }

    
        #nav {
            background-color: #a5a58d;
            text-align: right;
        }

        #nav li {
            display: inline;
            margin-right: 18px;
        }

        #nav a {
            background-color: #a5a58d;
            color:#5e503f;
            padding: 12px 24px;
            display: inline-block;
        }

        #nav a:hover {
            background-color: #808080;
            color: white;
            padding: 10px 22px;
            border: 2px solid black;
        }